.cost_container {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: Konga Pro;
  font-style: normal;
  font-weight: 400;
  width: 12vw;
  border-radius: 15px;
  height: 12vw;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-decoration: none;
  box-shadow: 0px 0px 15px white;
}
.cost_container:hover{
cursor: pointer;
}
.pizzeria {
  height: 75%;
  margin-top: 20px;
  max-width:100px;
}
.cost {
  margin: 10px 0px;
  color: white;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  width: 50%;
  height: 75%;
  margin: 0;
}
@media (max-width: 1440px) {
  .cost_container {
    width: 15vw;
    height: 17vw;
  }
  .cost {
    font-size: 2.5vw;
  }
  .pizzeria{
  width:60%;
  }
}
@media (max-width: 768px) {
  .cost_container {
    width: 20vw;
    height: 25vw;
  }
  .cost {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  .cost_container {
    width: 30vw;
    height: 40vw;
  }
  .cost {
    font-size: 5vw;
  }
}
.discount {
  color: #c38337;
}
